[program:{{ project_name }}]
command=sudo /home/{{ user }}/projects/{{ project_name }}/start.sh
user=ubuntu
stdout_logfile=/home/{{ user }}/projects/{{ project_name }}/logs/supervisor.log
redirect_stderr=true
autostart=true
autorestart=true